<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122896103170-0s2l121t36i0okamb97a854ko5a80bn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122896103170-0s2l121t36i0okamb97a854ko5a80bn6</string>
	<key>API_KEY</key>
	<string>AIzaSyC0W9SwDsJ4WuptLrLSk9lz6F7GzFafigM</string>
	<key>GCM_SENDER_ID</key>
	<string>122896103170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beyzacebiturk.sharingapp</string>
	<key>PROJECT_ID</key>
	<string>productsharingproject-7f9da</string>
	<key>STORAGE_BUCKET</key>
	<string>productsharingproject-7f9da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122896103170:ios:9e09a46a8a93abef8ff41b</string>
	<key>DATABASE_URL</key>
	<string>https://productsharingproject-7f9da-default-rtdb.firebaseio.com</string>
</dict>
</plist>